doctype html
html
  head
    title Cloud Vision -  
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
      body
    
      .header
            
 
      block content
             
    .footer
      p    copyright 2021