extends layout
block navigation
      a(href='/') home
      a(href='/catalogue') catalogue
block content
      .maincontent
        form#upload(action='/uploadcsv', method='POST' enctype='multipart/form-data')
            
                    legend browse to csv file
                        
                        input.longInput(name= "csv", type = "file" required) 
                        input(type='submit', value='upload')