html {
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0%;
    right: 0%;
    background-color: rgba(243, 236, 236, 0.9);
  }

.thumbnail {
    margin: 1em;
    height: 189px;
    width: 241px;
  }
  .grid-container {
    margin: auto;
    color: rgba(248, 245, 245, 0.89);
    display: grid;
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    padding: 10px;
  }